/***** BASE STYLES *****/

body {
  font-family: 'Montserrat', sans-serif;
}

/*****  GRID  *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  height: 175px;
  padding: 10px 0px 10px 20px;
  width: 358px;
  float:left;
}

/*****  HEADER  *****/

header {
  height: 110px;
}

header h1 {
  color: #669966;
  font-size: 30px;
  font-weight: bold;
  padding-top: 15px;
  text-transform: uppercase;
}

header h1 span {
  color: black;
}

nav {
  float: right;
}

nav a {
  color: #669966;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

/*****  TOP  *****/
#hero-image {
  border-top: 5px solid #669966;
  border-bottom: 5px solid #669966;
}

h2 {
  color: #669966;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

/*****  BOTTOM  *****/
h3 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.specials {
  color: #669966;
  font-size: 16px;
}

#bottom {
  border-bottom: thin solid #cccccc;
}

/*****  FOOTER  *****/

#footer {
    border-top: thin solid #cccccc;
    clear: both;
    color: black;
    font-size: 18px;
    font-weight: bold;
    height: 85px;
    padding-top: 25px;
    text-transform: uppercase;
    text-align: center;
}

#footer span {
  color: #669966;
  font-family: 'Oleo Script', cursive;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  text-transform: lowercase;
}

#middle-third {
  border-left: thin solid #cccccc;
  border-right: thin solid #cccccc;
}
